<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="LøbNiveau" value="Debug" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="FilSti" value="F:\dev\test\Fejler\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="SendeTilListe" value="tsmith@mackays.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
</configuration>