<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LøbNiveau" value="Debug"/>
    <add key="FilSti" value="F:\dev\test\Fejler\"/>
    <add key="SendeTilListe" value="tsmith@mackays.co.uk"/>
  </appSettings>
</configuration>